<%= render :partial => "header" %>
<section class="container clearfix">

<%= form_tag('/quiz/questions/'+(@number+1).to_s, {:id => "question"}) do %>

<% if @question.is_a? CoverQuestion %>
<h3 id="title">#<%= @number %>/<%= session[:questions].length %> What album is this cover from?</h3>
<% else %>
<h3 id="title">#<%= @number %>/<%= session[:questions].length %> <%= @question.question %></h3>
<% end %>

<% for i in 0...@question.answers.length %>
<%= radio_button_tag(:answer, i, false, {:class => "answer"}) %>
<%= label_tag(:answer, @question.answers[i]) %>
<% end %>

    <%= submit_tag("Next »", {:class => "button", }) %>
<% end %>

<% if @question.is_a? CoverQuestion %>
<img id="cover" src="<%= @question.question %>" />
<% end %>
</section>

