<h1>Personalized quiz for <%= @user.username %></h1>
<ul>
<% @user.artists.each do |artist| %>
<li><%= artist.name %></li>
<% end %>
</ul>

<ul>
<% @user.tracks.each do |track| %>
<li><%= track.artist %> - <%= track.title %></li>
<% end %>
</ul>

<ul>
<% @user.albums.each do |album| %>
<li><%= album.artist %> - <%= album.title %></li>
<% end %>
</ul>

<% questions = @user.generate_questions %>
<ul>
<% questions.each do |question| %>
<% if question.is_a? CoverQuestion %>
<li><img src="<%= question.question %>" /></li>
<% else %>
<li><%= question.question %></li>
<% end %>
<ul>
<% for i in 0...question.answers.length %>
<% if i == question.correct_answer %>
<li><b><%= question.answers[i] %></b></li>
<% else %>
<li><%= question.answers[i] %></li>
<% end %>
<% end %>
</ul>
<% end %>
<ul>

